@media only screen and (max-width: 760px) {
	.container section{
		display: none;
	}
	.container main{
		width: 100%;
	}
	header .base-title i{
		display: block;
	}
	header .base-title .logo{
		display: none;
	}
}