@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

:root{
	--body-background: #d9f6ff;
	--body-text-color: #0b002c;

	--header-background: rgba(170, 194, 255, 0.5);
	--header-text-color: #102aaa;

	--header-nav-li-hover-background: #08002c;
	--header-nav-li-hover-text-color: #ffffff;

	--main-background: rgba(217, 214, 255, 0.5);
	--scroll-background: rgba(51, 71, 136, 0.5);

	--border-color-input: #235154;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: 0;
	resize: none;
	border: 0;
	user-select: none;
}
body{
	background-image: url('images/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: var(--body-text-color);
	max-height: 100%;
}

header{
	background-color: var(--header-background);
	padding: 1em 0.5em;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	justify-items: center;
	align-content: center;
	align-items: center;
	position: sticky;
	top: 0;
}
header .base-title{
	display: flex;
	flex-direction: row;
	align-items: center;
}

header .base-title .title{
	display: flex;
	flex-direction: column;
	color: var(--header-text-color);
}

header .base-title .logo{
	height: 3em;
	box-sizing: border-box;
	border-radius: 50%;
	margin: 0.25em;
}

header .base-title i{
	color: var(--header-text-color);
	padding: 0.5em;
	margin: 0.25em;
	border-radius: 0.25em;
	display: none;
}

header nav ul{
	display: flex;
	flex-direction: row;
	list-style: none;
}

header nav ul li{
	padding: 0.5em;
	cursor: pointer;
	border-radius: 0.5em;
}

header nav ul li:hover, header .base-title i:hover{
	background-color: var(--header-nav-li-hover-background);
	color: var(--header-nav-li-hover-text-color);
}

.container{
	display: flex;
	flex-direction: row;
	padding: 0.25em;
}

.container section, .container main{
	padding: 0.25em;
	margin: 0.25em;
	border-radius: 0.15em;
	height: 35em;
	overflow-y: scroll;
}

.container *::-webkit-scrollbar{
	width: 0.5em;
}

.container *::-webkit-scrollbar-track{
	border-radius: 0.5em;
	background-color: var(--main-background);
}

.container *::-webkit-scrollbar-thumb{
	border-radius: 0.5em;
	background-color: var(--scroll-background);
}

.container section{
	background-color: var(--main-background);
	width: 20%;
	min-height: 100%;
}

.container main{
	background-color: var(--main-background);
	width: 80%;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.container main .form *{
	align-self: center;
	display: flex;
	flex-direction: row;
}
.container main .form span{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.25em 0;
}

.container main .form span label{
	font-weight: bold;
}

.container main .form span input, .container main .form span select, .container main .form input[type='submit']{
	background-color: transparent;
	border: 1px var(--border-color-input) solid;
	padding: 0 0.25em;
	border-radius: 0.25em;
	font-family: 'Times New Roman', Times, serif;
	width: 60%;
	box-sizing: border-box;
}

.container main .form input[type='submit']{
	width: 100%;
	box-sizing: border-box;
	justify-content: center;
}

.container section{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.container section ul{
	overflow-y: scroll;
}